@import "tailwindcss";

:root {
  --background: #0e370d;
  --foreground: #171717;
  --forest-green: #0e370d;
  --sage-green: #518249;
  --pale-yellow: #e3e25d;
  --light-gray: #f5f5f5;
  --dark-gray: #333333;
  --font-poppins: var(--font-poppins, "Poppins", sans-serif);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--forest-green);
  --color-secondary: var(--sage-green);
  --color-accent: var(--pale-yellow);
  --font-sans: var(--font-poppins);
}

section {
  min-height: 100vh;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.hero-background {
  background-image: url("/hero-background.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-background {
  background-image: url("/about-background.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
